<!DOCTYPE html>
<html>
<head>
    <title>Навигация</title>
    <meta charset="utf-8" />
    <style type="text/css">
    H1 { 
        font-size: 120%; 
        font-family: Verdana, Arial, Helvetica, sans-serif; 
        color: #336; 
    }
    a {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }
    </style>
</head>
<body>
    <h1>Навигация</h1><br>
    <p><a href="/index_vendor">К списку поставщиков</a></p>
    <p><a href="/index_document">К справочнику документов</a></p>
    <p><a href="/index_material">К справочнику материалов</a></p>
    <p><a href="/index_measure">К справочнику мер</a></p>
    <p><a href="/index_order">К списку единиц хранения</a></p>
    <br><br>
    <p><a href="/index_count_material">Посчитать количество поставщиков материала из справочника</a></p>
    <p><a href="/index_count_bank">Посчитать количество поставщиков пользующихся услугами банка</a></p>
    <p><a href="/index_count_vendor">Вывести список поставщиков с указанием всех реквизитов данного материала на склад</a></p>
</body>
<html>